<html>
    <head>
        <title>
            <%= title %>
        </title>

        <script src="https://kit.fontawesome.com/1f012f2949.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/home.css">
    </head>


    <body>
        <!-- <h1>Rendered from EJS View!</h1> --> 

        <div id="container">

            <h1 id="top-heading">
                <i class="fa-solid fa-address-book"></i>
                My Contacts List
            </h1>
    
            <form action="/create-contact" method="post">
    
                <input type="text" name="name" placeholder="Enter Name" required>
                
                <input type="number" name="phone" placeholder="Enter Mobile Number" required>
    
    
                <button type="submit" id="submit">Add Contact</button>
    
            </form>
    
            <div id="contact-div">
                <ul>
    
                    <% for(let i of contact_list){ %>
                        
                        <li class="contact">
                            <div class="details">
                                <span><%= i.name %></span>
                                <span><%= i.phone %></span>
                            </div>

                            <div class="delete-btn">
                                <a href="/delete-contact/?id=<%= i._id %>">
                                    <i class="fa-sharp fa-solid fa-xmark"></i>
                                </a>
                            </div>

                        </li>
                        
                    <% } %>
    
                </ul>
            </div>
    

        </div>

        <script type="text/javascript" src="/js/home.js"></script>

    </body>
</html>